[submodule "capstone-tests/env"]
	path = capstone-tests/env
	url = https://github.com/riscv/riscv-test-env.git
[submodule "capstone-tests/testsuite"]
	path = capstone-tests/testsuite
	url = https://github.com/jasonyu1996/capstone-testsuite.git
